#logo {
    max-width: 5%;
    display: flex;
    
   
}


.img-logo {
    display: flex;
    align-items: center; 
    
}


h1 {
    font-size: 30px;
    padding-left: 10px;
    
}


.featured-games img {
    object-fit: cover;
    width: 50vh;
    height: 60vh;
}

.featured-games img {
    
   
}

.featured-games {
    display: flex;
    flex-direction: column;
}